body {
  font-family: "Montserrat", sans-serif;
}

.product-item {
  width: 400px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  overflow: hidden;
}

.info {
  display: flex;
  justify-content: space-between;
}

.image-container {
  padding: 31px 80px 34px;
}

.raiting {
  padding: 9px 11px;
  width: 42px;
  background-color: #6f64f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: white;
  border-radius: 3px;
  font-weight: 400;
}

.raiting img {
  height: 13px;
  width: 12px;
}

.main-container {
  padding: 0 25px 22px;
}

.price {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.title {
  margin: 16px 0 3px;
  font-weight: 400;
  font-size: 16px;
}

.description {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
}

.buttons {
  width: 100%;
  display: flex;
}

.btn {
  width: 50%;
  border: none;
  padding-top: 14px;
  padding-bottom: 13px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
}

.btn img {
  margin-right: 9px;
}

.wishlist img {
  width: 15px;
  height: 13px;
}

.wishlist {
  color: black;
  background-color: #ededed;
}

.char {
  color: white;
  background-color: #6f64f8;
}
