<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="index.css" />
  <title>Online Store</title>
</head>

<body>
  <div class="main">
    <header class="header">
      <div class="logo">
        <img src="img/logo.png" alt="logo" />
      </div>
      <span class="header-title"> Online-Store </span>
    </header>
    <div class="lower-header">
      <img src="svg/home.svg" class="right-arrow" alt="home" />
      <img src="svg/right-arrow.svg" alt="right-arrow" />
      <img src="svg/right-arrow.svg" class="right-arrow" alt="right-arrow" />
      <span class="eCommerce">eCommerce</span>
      <img src="svg/right-arrow.svg" alt="right-arrow" />
      <img src="svg/right-arrow.svg" class="right-arrow" alt="right-arrow" />
      <span class="right-arrow">Electronics</span>
    </div>
    <div class="sections">
      <div class="filter-section">

        <div class="filter-header">
          <span>Filters</span>
          <div class="filter-arrow">
            <img src="svg/left-arrow.svg" alt="left-arrow" />
          </div>
        </div>


        <div class="filter-body">
          <div class="filter-container">
            <span class="filter-title">Multi Range</span>
            <div class="filter-item-container">
              <img src="svg/Oval-empty.svg" alt="oval" />
              <span class="filter-item-price">$10</span>
            </div>
            <div class="filter-item-container">
              <img src="svg/Oval-empty.svg" alt="oval" />
              <span class="filter-item-price">$10-100</span>
            </div>
            <div class="filter-item-container">
              <img src="svg/Oval-empty.svg" alt="oval" />
              <span class="filter-item-price">$100-500</span>
            </div>
            <div class="filter-item-container">
              <img src="svg/Oval-empty.svg" alt="oval" />
              <span class="filter-item-price">$500</span>
            </div>
            <div class="filter-item-container">
              <img src="svg/Oval-colored.svg" alt="oval" />
              <span class="filter-item-price">$All</span>
            </div>
          </div>
          <div class="divider">
            <img src="svg/Divider.svg" alt="Divider" />
          </div>
          <div class="filter-container">
            <span class="filter-title">Category</span>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>
            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>
            <div class="filter-item-container">
              <img src="svg/Rectangle-colored.svg" alt="Rectangle-colored" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>
            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>
          </div>

          <div class="divider">
            <img src="svg/Divider.svg" alt="Divider" />
          </div>

          <div class="filter-container">
            <span class="filter-title">Category</span>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>
            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>
            <div class="filter-item-container">
              <img src="svg/Rectangle-colored.svg" alt="Rectangle-colored" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>
            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>

            <div class="filter-item-container">
              <img src="svg/Rectangle-empty.svg" alt="Rectangle-empty" />
              <div class="filter-item-price"><span>Cell Phones</span>
              </div>
              <div class="filter-item-amount">
                <span>1920</span>
              </div>
            </div>
          </div>
        </div>
        <div class="filter-footer">
          <button type="submit" class="filter-button">clear all filters</button>
        </div>
      </div>
      <div class="product-section">
        <div class="product-header">
          <div class="product-header-result">
            <span class="product-header-result-title">7,618 results found</span>

            <button class="product-header-button">
              <img src="svg/heart.svg" alt="heart">
            </button>
          </div>
          <div class="product-header-search">
            <input type="text" placeholder="Search" class="search">
            <img src="svg/search.svg" alt="search" class="search-icon">
          </div>
        </div>
        <div class="product-list">
          <div class="product-item">
            <div class="image-container">
              <img src="img/apple-watch.png" class="picture-fit" alt="apple-watch" />
            </div>
            <div class="main-container">
              <div class="info">
                <span class="raiting">
                  3.4
                  <img src="img//star.svg" alt="star" />
                </span>
                <span class="price">$399</span>
              </div>
              <div class="product-title">
                <h4 class="title">Apple Watch Series 4 GPS</h4>
                <p class="description">
                  Redesigned from scratch and completely revised.
                </p>
              </div>
            </div>
            <div class="buttons">
              <button class="wishlist btn">
                <img src="img/heart.svg" alt="heart" />
                wishlist
              </button>
              <button class="char btn">
                <img src="img/shopping-bag.svg" alt="bag" />
                add to char
              </button>
            </div>
          </div>

          <div class="product-item">
            <div class="image-container">
              <img src="img/jbl-speaker.png" class="picture-fit" alt="jbl-speaker" />
            </div>
            <div class="main-container">
              <div class="info">
                <span class="raiting">
                  3.4
                  <img src="img//star.svg" alt="star" />
                </span>
                <span class="price">$199</span>
              </div>
              <div class="product-title">
                <h4 class="title">JBL Speaker</h4>
                <p class="description">
                  Redesigned from scratch and completely revised.
                </p>
              </div>
            </div>
            <div class="buttons">
              <button class="wishlist btn">
                <img src="img/heart.svg" alt="heart" />
                wishlist
              </button>
              <button class="char btn">
                <img src="img/shopping-bag.svg" alt="bag" />
                add to char
              </button>
            </div>
          </div>

          <div class="product-item">
            <div class="image-container">
              <img src="img/iphone-x.png" class="picture-fit" alt="iphone-x" />
            </div>
            <div class="main-container">
              <div class="info">
                <span class="raiting">
                  3.4
                  <img src="img//star.svg" alt="star" />
                </span>
                <span class="price">$899</span>
              </div>
              <div class="product-title">
                <h4 class="title">Apple iPhone X 128GB</h4>
                <p class="description">
                  Redesigned from scratch and completely revised.
                </p>
              </div>
            </div>
            <div class="buttons">
              <button class="wishlist btn">
                <img src="img/heart.svg" alt="heart" />
                wishlist
              </button>
              <button class="char btn">
                <img src="img/shopping-bag.svg" alt="bag" />
                add to char
              </button>
            </div>
          </div>

          <div class="product-item">
            <div class="image-container">
              <img src="img/beats-headphones.png" class="picture-fit" alt="beats-headphones" />
            </div>
            <div class="main-container">
              <div class="info">
                <span class="raiting">
                  3.4
                  <img src="img//star.svg" alt="star" />
                </span>
                <span class="price">$459</span>
              </div>
              <div class="product-title">
                <h4 class="title">Beats Headphones</h4>
                <p class="description">
                  Redesigned from scratch and completely revised.
                </p>
              </div>
            </div>
            <div class="buttons">
              <button class="wishlist btn">
                <img src="img/heart.svg" alt="heart" />
                wishlist
              </button>
              <button class="char btn">
                <img src="img/shopping-bag.svg" alt="bag" />
                add to char
              </button>
            </div>
          </div>

          <div class="product-item">
            <div class="image-container">
              <img src="img/macbook-pro.png" class="picture-fit" alt="macbook-pro" />
            </div>
            <div class="main-container">
              <div class="info">
                <span class="raiting">
                  3.4
                  <img src="img//star.svg" alt="star" />
                </span>
                <span class="price">$2499</span>
              </div>
              <div class="product-title">
                <h4 class="title">Apple Macbook Pro 512GB SSD</h4>
                <p class="description">
                  Redesigned from scratch and completely revised.
                </p>
              </div>
            </div>
            <div class="buttons">
              <button class="wishlist btn">
                <img src="img/heart.svg" alt="heart" />
                wishlist
              </button>
              <button class="char btn">
                <img src="img/shopping-bag.svg" alt="bag" />
                add to char
              </button>
            </div>
          </div>

          <div class="product-item">
            <div class="image-container">
              <img src="img/ipad-pro.png" class="picture-fit" alt="ipad-pro" />
            </div>
            <div class="main-container">
              <div class="info">
                <span class="raiting">
                  3.4
                  <img src="img//star.svg" alt="star" />
                </span>
                <span class="price">$899</span>
              </div>
              <div class="product-title">
                <h4 class="title">Apple iPad Pro 64GB</h4>
                <p class="description">
                  Redesigned from scratch and completely revised.
                </p>
              </div>
            </div>
            <div class="buttons">
              <button class="wishlist btn">
                <img src="img/heart.svg" alt="heart" />
                wishlist
              </button>
              <button class="char btn">
                <img src="img/shopping-bag.svg" alt="bag" />
                add to char
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</body>

</html>